@import "tailwindcss";
body {
  font-family:"poppins", sans-serif;
}
h1, h2 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    /* background-image: linear-gradient(to right, var(--tw-gradient-stops)); */
    background: linear-gradient(-45deg ,#0b011f, #302b63,#9e9ed5);
  }
}